

<div id="bg">

    <section class="signup">
        <h2>Sign Up Form</h2>
        <form method="POST" action="/signup">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="username" name="username" class="form-control" id="username" placeholder="Create a Username">
            </div>
     
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Email">
            </div>
  
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password"class="form-control" id="password" placeholder="Password">
            </div>
           
                <button id="button1" type="submit" class="btn btn-default">Submit</button>
            
        </form>
    </section>

</div>
