<div id="bg1">

<br><br><br><br><br><br>

<section>
<h2><center>Create a new post</center></h2>
<h3><center>To all the killers and a hundred dollar billers</center></h3>

	<form method="POST" action="/pins/new"
		<div class="form-group">
			<label for="title">title</label>
			<input type="text" name="title" class="form-control" placeholder="Meow">


		<br><br><br>


		<div class="form-group">
			<label for="text">text</label>
			<!-- <input type="textarea" name="text" row="3" cols="20" class="form-control1" placeholder="Blah Blah Blah"> -->
			<textarea rows="3" cols="60" class="form-control" name="text" placeholder="Ain't nobody dope as me I'm dressed so fresh so clean" ></textarea>
		</div>

		<div class="form-group">
		    <label for="image">image</label>
		     <input type="url" name="image" placeholder="Enter an image URL...FOOO" class="form-control">
 		 </div>

	
	<button id="button1" type="submit" class="btn btn-default">Submit</button>

	</form>
	

</section>
</div>